<div class="card mb-4 ">

    <div class="card-body pt-0 pl-1 pr-1">
        <div class=" text-danger" style="z-index: 1;  position: relative;">
            <i *ngIf="!addedToWishlist " (click)="handelAddToWishlist() " class="far fa-heart float-right fa-2x anim  ml-4" title="Ajouter au wish liste "></i>
            <i *ngIf="addedToWishlist " (click)=" handelRemoveToWishlist()" class="fas fa-heart float-right fa-2x ml-3" title="Ajouter au wish liste "></i>
        </div>
        <img [src]="productItem?.imageUrl" class="card-img-top img-product" style="margin-top: -30px;">

        <p class="card-text text-center p-2 text-danger h5">

            <strong>{{productItem.name}} {{productItem.price}} Dh/Kg</strong>

        </p>
        <p class="font-weight-light card-text text-justify ">{{productItem.description | slice: 0:37}}... </p>
    </div>
    <div class="card-footer ">

        <div class="btn-group text-center mt-2">
            <button type=" button " class="btn btn-sm btn-outline-danger " (click)="handelAddToCart()">
                    <i class="fa fa-shopping-cart mr-1 "></i>Shop
                </button>
            <button *ngIf="showViewProductButton" type="button " class="btn btn-sm btn-outline-info " routerLink="/product/{{productItem.id}}">
                    <i class="fa fa-info-circle mr-1 "></i>View detail
                </button>
        </div>



    </div>
    <div class="hover-effect">

        <p class="font-weight-bolder card-text text-justify " routerLink="/product/{{productItem.id}}">{{productItem.description }}
        </p>
        <img src="assets/products/sweet.png" style="position: relative;top: 75%;right: 20%;">

    </div>
</div>