.col-md-12,
.row,
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

#bootstrapCarousel {
    width: 100%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, .1);
}

#bootstrapCarousel img {
    /* max-height: 300px; */
}