#s2.col-12 {
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.24);
    min-height: 100px;
}

.service-item {
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-left: 5px solid #fdad54;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}