<!-- <nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom d-none d-sm-block">
    <a routerLink="/home">
        <img class="logo ml-5" [src]="(imgPath + logo)" />

        <span class="navbar-brand mb-0 h1 ">{{title}}</span>
    </a>
    <button class="navbar-toggler " type="button " aria-controls="navbarContent " [attr.aria-expanded]="!collapsed " aria-label="Toggle navigation " (click)="collapsed=! collapsed ">
<span class="navbar-toggler-icon "></span>
</button>

    <div class="navbar-collapse " [class.collapse]="collapsed " id="navbarContent ">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item ">
                <a routerLink="/register" class="nav-link " tabindex="0 " role="button ">
              Static
            </a>

            </li>

            <li class="nav-item ">
                <a outerLink="/shop" class="nav-link " tabindex="0 " role="button ">
      Static right
    </a>
            </li>

            <li class="nav-item ">
                <i class="fa fa-shopping-cart fa-2x mt-1 ml-2 mr-3 "></i>
            </li>
        </ul>
    </div>
</nav> -->